extends ./default.jade

block content
  .bounds
    img.app-thumb(src=thumb width="100" height="100")
    h1.app-title= title
    .app-author
      | by 
      a(href=developer_link)= developer
      span= date
    p.app-description= post
