extends ./default.jade

if(itunes_id)
  append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/aja/0.4.1/aja.min.js")
    script.
      document.addEventListener("DOMContentLoaded", function(event) {
        aja()
          .url('https://itunes.apple.com/lookup?id=#{itunes_id}')
          .type('jsonp')
          .on('success', function(data){
              var screenshotUrls = data.results[0].screenshotUrls;
              var screenshotsDiv = document.getElementById('screenshots');
              screenshotUrls.forEach(function(screenshotUrl){
                var image = document.createElement("img");
                image.src = screenshotUrl;
                screenshotsDiv.appendChild(image);
              });
              
          })
          .go();
      });

block content
  .bounds
    img.app-thumb(src=thumb width="100" height="100")
    h1.app-title= title
    .app-author
      | by 
      a(href=developer_link)= developer
      span= date
    p.app-description= post
    #screenshots
